@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: rgb(43, 43, 43);
}

h1{
    color: white;
}

#principal{
    font-family: "Audiowide", sans-serif;
    text-align: center;
    color: purple;
}

p{
    text-align: justify;
}

#util{
    font-family: "Audiowide", sans-serif;
}