@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html , body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;

}

header > p{
    padding-bottom: 50px;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(49, 49, 49);
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.295);
    width: 400px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    font-weight: bold;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}