body{
    background-color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkgoldenrod;

}
li{
    color: black;
    
}

h1{
    color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
}
p{
    text-align: center;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}