@charset "UTFF-8";


body {
   font-family: Arial, Helvetica, sans-serif;
   background-image: linear-gradient(25deg, red,yellow);
   color: black;
    

}
h1 {
    color: black;
    
}

h2{
    color: #3E3635;
}
