@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}

body{
   background-image: linear-gradient(45deg , #7515E6 ,  #E615B8, #BA15E6);
   margin: 0;
}
header{
    
    padding: 15px;
    margin: 10px;
    
}

header > h1{
    font-size: 2,5em;
    text-shadow: 0px 0px 3px #CA61E6;
}

nav > a {
    margin-right: 50px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding: 5px;
}
nav > a:hover{
    text-decoration: underline;
    color: #3115E6;

}
#new{
    background-color: #CA61E6;
    padding: 10px;
    text-align: justify;
    margin: 15px;
    width: 600px;
    border-radius: 5px;
}

#brooke{
    background-color:#CA61E6;
    padding: 10px;
    text-align: justify;
    margin: 15px;
    width: 600px;
    border-radius: 5px;
    
}

footer{
    background-color: #CA61E6;
    color: #140861;
    text-align: center;
    margin: 0;
}

p > a{
    color: white;
    text-decoration: none;

}

p > a:hover{
    text-decoration: underline;
    color: #3115E6;
   
}

