@charset "UTF-8";

*{
    margin: 0;
    padding: 0;

}
body{
    max-width: 1600px;
    min-width: 320px;
}

div.fundo{
    height: 100vh;
    width: 100%;
    background-color: blue;
    background-image: url(images/espaco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
    
    
    
}

div.frente {
   
   background-image: url(images/astronauta.png);
   background-position: center center;
   background-size: 50%;
   width: 600px;
   height: 600px;
   background-repeat: no-repeat;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}