@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #023535;
    width: 600px;
    padding: 10px;
    margin: auto;
}

body{
    
    background-image: linear-gradient(to right, #0FC2C0,#0CABA8,#008F8C);
}

h1{
    color: #023535;
    text-align: center;
    text-shadow: 1px 1px 2px #0caba875;
}
h2{
    color: #015958;
}
p{
    text-align: justify;
}